:root {
  --coral: coral;
  --dark: #131a26;
  --gray: #888;
}

.main {
  padding: 16px 20px;
  max-width: 400px;
  background-color: var(--dark);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.res {
  padding: 16px 20px;
  overflow-x: scroll;
  text-align: right;
  background-color: var(--dark);
  color: white;
  font-size: 24px;
  font-weight: 300;
}
.res span {
  font-size: 14px;
  color: var(--gray);
  padding-right: 8px;
}

button {
  appearance: none;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;
}
button:hover {
  opacity: 0.8;
}

.ops {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
}
.ops button {
  flex: 1 1 0%;
  background-color: brown;
  font-weight: 700;
}

.num {
  display: flex;
  flex-wrap: wrap;
}
.num button {
  flex: 1 1 33.33%;
  background-color: var(--dark);
  max-width: 33.33%;
  font-weight: 500;
}
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--coral);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
